<ion-item>

  <ion-avatar slot="start">
    <img *ngIf="streamer.user.profile_pic"
      [src]="streamer.user.profile_pic ? streamer.user.profile_pic: './assets/kick/defaultPic.png'">
    <img *ngIf="!streamer.user.profile_pic"
      [src]="streamer.user.profilePic ? streamer.user.profilePic: './assets/kick/defaultPic.png'">
  </ion-avatar>
  <ion-label>
    <ion-text style="padding-right: 3px;">{{ streamer.user.username }}</ion-text>
    <!-- verified icon -->
    <ion-icon *ngIf="streamer.verified" name="checkmark-circle-outline" style="padding-right: 10px;"></ion-icon>
    <!-- followers -->
    <div>
      <ion-icon name="people-outline" style="padding-right: 5px;"></ion-icon>
      <ion-text *ngIf="streamer.followers_count">{{ streamer.followers_count | number }} Followers</ion-text>
      <ion-text *ngIf="!streamer.followers_count">{{streamer.followersCount | number }} Followers</ion-text>
    </div>
    <p>{{ streamer.user.bio }}</p>
    <!-- <p *ngIf="searchStreamerExact.livestream?.is_live">Live Now!</p> -->
    <div *ngIf="streamer.livestream?.is_live">
      <div>
        <p>Live Now!</p>
        <!-- viewer number -->
        <ion-icon name="eye-outline" style="padding-right: 5px;"></ion-icon>
        <ion-text>{{ streamer.livestream?.viewer_count | number }} Viewers</ion-text>
      </div>
      <!-- airplay -->
      <ion-button *ngIf="this.iosDetected" (click)="openAirPlay()">
        AirPlay
        <ion-icon name="logo-apple"></ion-icon>
      </ion-button>
      <div *ngIf="airPlayVideo">
        <app-video-audio-component [videoSrc]="streamer.playback_url"></app-video-audio-component>
      </div>
	  <ion-button (click)="kickService.signalStreamer.set(streamer)" [routerLink]="['/kick/', streamer.slug]">
        <ion-icon name="play"></ion-icon>
        İZLE+CHAT
      </ion-button>
      <ion-button [href]="streamer.playback_url" target="_blank"
          title="Open url in new window: streamer.playback_url">
          İzle
          <ion-icon name="open"></ion-icon>
        </ion-button>
		
      <ion-button [routerLink]="['/kick/', streamer.slug, 'videos']">
        VODlar
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
	  
	  <!-- popout chat -->
        <ion-button [href]="'/kick/'+streamer.slug+'/chat'" title="Popout chat in new window" target="_blank">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          Chat
        </ion-button>

      
	  
	  <ion-button [href]="'https://kick.com/'+streamer.slug" target="_blank"
          title="Open url in new window: https://kick.com/{{streamer.slug}}">
          Kickte aç
          <ion-icon name="open"></ion-icon>
        </ion-button>
        
     
        <ion-button (click)="copyToClipboard(streamer.playback_url)" title="Open the m3u8">
          <ion-icon name="copy"></ion-icon>
          Kopyala
        </ion-button>
      
    </div>
    <div *ngIf="!streamer.livestream?.is_live">
      <p>Offline</p>
      <ion-button [routerLink]="['/kick/', streamer.slug, 'videos']">
        Videos
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
    </div>
  </ion-label>
</ion-item>